.body {
  font-family: Roboto;
  background-color: #fcfafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

.container{
    padding-top: 50%; 
  .welcome{
      background-color: aqua;
  }
}